<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bible Tract Contact Page</title>
    <meta name="description" content="Bible Tract contact page.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/app.css">
    <link rel="stylesheet" href="../styles/navigation.css">
    <link rel="stylesheet" href="../styles/contact/content.css">
    <link rel="stylesheet" href="../styles/footer.css">
</head>

<body>
    <nav class="navigation">
        <div class="navigation-wrapper">
            <img src="../styles/pics/icon.jpg" alt="Navigation icon." class="navigation-icon">

            <ul class="navigation-menu">
                <li class="navigation-link-holder"><a href="../index.html" class="navigation-link">HOME</a></li>
                <button class="pages-menu-button">PAGES</button>
                <li class="navigation-link-holder"><a href="contact.html" class="navigation-link">CONTACT</a></li>
            </ul>

            <button class="menu-collapser">
                <p class="hamburger-patty">_</p> 
                <p class="hamburger-patty">_</p> 
                <p class="hamburger-patty">_</p>
            </button>
        </div>

        <ul class="navigation-menu-collapse">
            <li class="navigation-link-holder-collapse"><a href="../index.html"class="navigation-link-collapse">HOME</a></li>
            <button class="pages-menu-button-collapse navigation-link-holder-collapse">PAGES</button>
            <li class="navigation-link-holder-collapse"><a href="contact.html" class="navigation-link-collapse">CONTACT</a></li>
        </ul>

        <ul class="pages-menu">
            <li class="pages-link-holder"><a href="pageOne.html" class="pages-link">Page 1</a></li>
            <li class="pages-link-holder"><a href="pageTwo.html" class="pages-link">Page 2</a></li>
            <li class="pages-link-holder"><a href="pageThree.html" class="pages-link">Page 3</a></li>
            <li class="pages-link-holder"><a href="pageFour.html" class="pages-link">Page 4</a></li>
            <li class="pages-link-holder"><a href="pageFive.html" class="pages-link">Page 5</a></li>
        </ul>
    </nav>

    <main class="contact-image">
        <div class="contact-message-wrapper">
            <h2 class="contact-title">Feel free to reach out!</h2>
            <p class="contact-message">For questions or comments please contact at <a href="mailto:webbibletrack@gmail.com" class="email-link">webbibletrack<br class="email-link-break">@gmail.com</a> </p>
        </div>
    </main>

    <footer class="footer">
        <p class="footer-message">2023 Bible Tract</p>
    </footer>

    <script src="../scripts/navigation.js" async defer></script>

</body>

</html>
