<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bible Tract: Page 1</title>
    <meta name="description" content="Bible Tract: Page 1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/app.css">
    <link rel="stylesheet" href="../styles/navigation.css">
    <link rel="stylesheet" href="../styles/pages/pageOne.css">
    <link rel="stylesheet" href="../styles/footer.css">
</head>

<body>
    <nav class="navigation">
        <div class="navigation-wrapper">
            <img src="../styles/pics/icon.jpg" alt="Navigation icon." class="navigation-icon">

            <ul class="navigation-menu">
                <li class="navigation-link-holder"><a href="../index.html" class="navigation-link">HOME</a></li>
                <button class="pages-menu-button">PAGES</button>
                <li class="navigation-link-holder"><a href="contact.html" class="navigation-link">CONTACT</a></li>
            </ul>

            <button class="menu-collapser">
                <p class="hamburger-patty">_</p> 
                <p class="hamburger-patty">_</p> 
                <p class="hamburger-patty">_</p>
            </button>
        </div>

        <ul class="navigation-menu-collapse">
            <li class="navigation-link-holder-collapse"><a href="../index.html"class="navigation-link-collapse">HOME</a></li>
            <button class="pages-menu-button-collapse navigation-link-holder-collapse">PAGES</button>
            <li class="navigation-link-holder-collapse"><a href="contact.html" class="navigation-link-collapse">CONTACT</a></li>
        </ul>

        <ul class="pages-menu">
            <li class="pages-link-holder"><a href="pageOne.html" class="pages-link">Page 1</a></li>
            <li class="pages-link-holder"><a href="pageTwo.html" class="pages-link">Page 2</a></li>
            <li class="pages-link-holder"><a href="pageThree.html" class="pages-link">Page 3</a></li>
            <li class="pages-link-holder"><a href="pageFour.html" class="pages-link">Page 4</a></li>
            <li class="pages-link-holder"><a href="pageFive.html" class="pages-link">Page 5</a></li>
        </ul>
    </nav>

    <main class="pages-content-image">
        <div class="pages-content-message-wrapper">
            <h2 class="pages-content-title">What is the Meaning of Life?</h2>
            <p class="pages-content-message">Life was created by God. Col. 1:16,“…all things were created by Him 
                and for Him.” God loves us and when we love Him, and honor Him, it gives meaning to life. In Rev 4:11,“You are worthy,
                our Lord and God, to receive glory and honor and power, for You created all things…” God
                created YOU and He loves YOU and wants to have a personal relationship with YOU. But there is
                a problem. You are cut off from God because of your sin. Ro. 3:23, “for all have sinned and fall
                short of the glory of God.” Have you ever told a lie? (If you say you haven’t you’re lying!) Have
                you ever taken something that's not yours, even something small? (Everyone has.) You are a
                liar and a thief. Because of your sin, your relationship with God is broken and you will end up in
                hell if you die this way. That’s also why life may seem meaningless to you. But there is hope!</p>

            <a href="pageTwo.html" class="change-page-button">Next Page</a>
        </div>
    </main>

    <footer class="footer">
        <p class="footer-message">2023 Bible Tract</p>
    </footer>

    <script src="../scripts/navigation.js" async defer></script>
</body>

</html>