<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bible Tract: Page 4</title>
    <meta name="description" content="Bible Tract: Page 4">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/app.css">
    <link rel="stylesheet" href="../styles/navigation.css">
    <link rel="stylesheet" href="../styles/pages/pageFour.css">
    <link rel="stylesheet" href="../styles/footer.css">
</head>

<body>
    <nav class="navigation">
        <div class="navigation-wrapper">
            <img src="../styles/pics/icon.jpg" alt="Navigation icon." class="navigation-icon">

            <ul class="navigation-menu">
                <li class="navigation-link-holder"><a href="../index.html" class="navigation-link">HOME</a></li>
                <button class="pages-menu-button">PAGES</button>
                <li class="navigation-link-holder"><a href="contact.html" class="navigation-link">CONTACT</a></li>
            </ul>

            <button class="menu-collapser">
                <p class="hamburger-patty">_</p> 
                <p class="hamburger-patty">_</p> 
                <p class="hamburger-patty">_</p>
            </button>
        </div>

        <ul class="navigation-menu-collapse">
            <li class="navigation-link-holder-collapse"><a href="../index.html"class="navigation-link-collapse">HOME</a></li>
            <button class="pages-menu-button-collapse navigation-link-holder-collapse">PAGES</button>
            <li class="navigation-link-holder-collapse"><a href="contact.html" class="navigation-link-collapse">CONTACT</a></li>
        </ul>

        <ul class="pages-menu">
            <li class="pages-link-holder"><a href="pageOne.html" class="pages-link">Page 1</a></li>
            <li class="pages-link-holder"><a href="pageTwo.html" class="pages-link">Page 2</a></li>
            <li class="pages-link-holder"><a href="pageThree.html" class="pages-link">Page 3</a></li>
            <li class="pages-link-holder"><a href="pageFour.html" class="pages-link">Page 4</a></li>
            <li class="pages-link-holder"><a href="pageFive.html" class="pages-link">Page 5</a></li>
        </ul>
    </nav>

    <main class="pages-content-image">
        <div class="pages-content-message-wrapper">
            <h2 class="pages-content-title">Where Will You go When You Die?</h2>
            <p class="pages-content-message">I think you know, deep down inside, that your soul will live on after you
                    die. The question is, where will you go? According to what God has told us in the Bible, there are only two places we
                    can spend eternity, heaven or hell. Rev. 20:15, “And if any was not found written in the book of
                    life, he was cast into the lake of fire.” When your sins are forgiven your name is written in the
                    book of life. This allows you to escape hell, reserves your place in heaven, AND gives meaning
                    and purpose in THIS life! This is how you get your sins forgiven. Admit your sins will cause you
                    to go to hell. Next repent of your sins. Acts 5:19, “Repent therefore and be converted, that your
                    sins may be blotted out.” Then call out to God. Ro. 10:13,”For everyone who calls on the name
                    of the Lord will be saved.”</p>

            <div class="button-holder">
                <a href="pageThree.html" class="change-page-button">Prev Page</a>
                <a href="pageFive.html" class="change-page-button">Next Page</a>
            </div>

        </div>
    </main>

    <footer class="footer">
        <p class="footer-message">2023 Bible Tract</p>
    </footer>

    <script src="../scripts/navigation.js" async defer></script>
</body>

</html>