<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/pages.css">
</head>

<body>
    <div class="d-flex h-100 text-center">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="mb-md-4">
                <div>
                    <nav class="nav nav-masthead justify-content-center float-md-start my-2">
                        <a href="../index.html" class="nav-link ">Home</a>
                    </nav>
                    <nav class="nav nav-masthead justify-content-center float-md-end my-2">
                        <a href="contact.html" class="nav-link ">Contact</a>
                    </nav>
                </div>
            </header>
            <main class="px-3 my-5">
                <h1>What’s My Purpose in Life?</h1>
                <p class="lead my-5">Your purpose in life and meaning in life are intertwined. You were created to be a
                    child of God
                    and have a relationship with Him. But, sin has destroyed that relationship so you can’t honor
                    Him, therefore it leaves you feeling like life has no purpose. The good news is, God made a way
                    to get rid of your sin and restore your relationship with Him! This is your purpose in life, to
                    become God’s child and have a relationship with Him! You see, Jesus paid for your sin by dying
                    on the cross. Ro. 5:8,”But God shows His love for us, in that while we were still sinners, Christ
                    died for us.” God requires payment for your sin. Either you will pay for it in hell for eternity or
                    you can accept Jesus’ payment on the cross. You accept it by putting your faith in His death on
                    the cross for the payment for your sin. This is how God forgives you of your sin.
                </p>
                <div class="d-flex justify-content-center">
                    <a href="pageOne.html" class="btn mx-4">Back</a>
                    <a href="pageThr.html" class="btn mx-4">Next</a>
                </div>
            </main>
            <footer class="mt-auto">
                <p>2022</p>
            </footer>
        </div>
    </div>
    <script src="" async defer></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
        crossorigin="anonymous"></script>
</body>

</html>