<!DOCTYPE html>
<html lang="en">

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FGJXLDV6LB"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-FGJXLDV6LB');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bible Tract: Page 2</title>
    <meta name="description" content="Bible Tract: Page 2">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/app.css">
    <link rel="stylesheet" href="../styles/navigation.css">
    <link rel="stylesheet" href="../styles/pages/pageTwo.css">
    <link rel="stylesheet" href="../styles/footer.css">
</head>

<body>
    <nav class="navigation">
        <div class="navigation-wrapper">
            <img src="../styles/pics/icon.jpg" alt="Navigation icon." class="navigation-icon">

            <ul class="navigation-menu">
                <li class="navigation-link-holder"><a href="../index.html" class="navigation-link">HOME</a></li>
                <button class="pages-menu-button">PAGES</button>
                <li class="navigation-link-holder"><a href="contact.html" class="navigation-link">CONTACT</a></li>
            </ul>

            <button class="menu-collapser">
                <p class="hamburger-patty">_</p> 
                <p class="hamburger-patty">_</p> 
                <p class="hamburger-patty">_</p>
            </button>
        </div>

        <ul class="navigation-menu-collapse">
            <li class="navigation-link-holder-collapse"><a href="../index.html"class="navigation-link-collapse">HOME</a></li>
            <button class="pages-menu-button-collapse navigation-link-holder-collapse">PAGES</button>
            <li class="navigation-link-holder-collapse"><a href="contact.html" class="navigation-link-collapse">CONTACT</a></li>
        </ul>

        <ul class="pages-menu">
            <li class="pages-link-holder"><a href="pageOne.html" class="pages-link">Page 1</a></li>
            <li class="pages-link-holder"><a href="pageTwo.html" class="pages-link">Page 2</a></li>
            <li class="pages-link-holder"><a href="pageThree.html" class="pages-link">Page 3</a></li>
            <li class="pages-link-holder"><a href="pageFour.html" class="pages-link">Page 4</a></li>
            <li class="pages-link-holder"><a href="pageFive.html" class="pages-link">Page 5</a></li>
        </ul>
    </nav>

    <main class="pages-content-image">
        <div class="pages-content-message-wrapper">
            <h2 class="pages-content-title">What is My Purpose in Life?</h2>
            <p class="pages-content-message">Your purpose in life and meaning in life are intertwined. You were created
                    to be a child of God and have a relationship with Him. But, sin has destroyed that relationship so you can’t honor
                    Him, therefore it leaves you feeling like life has no purpose. The good news is, God made a way
                    to get rid of your sin and restore your relationship with Him! This is your purpose in life, to
                    become God’s child and have a relationship with Him! You see, Jesus paid for your sin by dying
                    on the cross. Ro. 5:8,”But God shows His love for us, in that while we were still sinners, Christ
                    died for us.” God requires payment for your sin. Either you will pay for it in hell for eternity or
                    you can accept Jesus’ payment on the cross. You accept it by putting your faith in His death on
                    the cross for the payment for your sin. This is how God forgives you of your sin.</p>


            <div class="button-holder">
                <a href="pageOne.html" class="change-page-button">Prev Page</a>
                <a href="pageThree.html" class="change-page-button">Next Page</a>
            </div>

        </div>
    </main>

    <footer class="footer">
        <p class="footer-message">2023 Bible Tract</p>
    </footer>

    <script src="../scripts/navigation.js" async defer></script>
</body>

</html>
