<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bible Tract: Page 5</title>
    <meta name="description" content="Bible Tract: Page 5">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/app.css">
    <link rel="stylesheet" href="../styles/navigation.css">
    <link rel="stylesheet" href="../styles/pages/pageFive.css">
    <link rel="stylesheet" href="../styles/footer.css">
</head>

<body>
    <nav class="navigation">
        <div class="navigation-wrapper">
            <img src="../styles/pics/icon.jpg" alt="Navigation icon." class="navigation-icon">

            <ul class="navigation-menu">
                <li class="navigation-link-holder"><a href="../index.html" class="navigation-link">HOME</a></li>
                <button class="pages-menu-button">PAGES</button>
                <li class="navigation-link-holder"><a href="contact.html" class="navigation-link">CONTACT</a></li>
            </ul>

            <button class="menu-collapser">
                <p class="hamburger-patty">_</p> 
                <p class="hamburger-patty">_</p> 
                <p class="hamburger-patty">_</p>
            </button>
        </div>

        <ul class="navigation-menu-collapse">
            <li class="navigation-link-holder-collapse"><a href="../index.html"class="navigation-link-collapse">HOME</a></li>
            <button class="pages-menu-button-collapse navigation-link-holder-collapse">PAGES</button>
            <li class="navigation-link-holder-collapse"><a href="contact.html" class="navigation-link-collapse">CONTACT</a></li>
        </ul>

        <ul class="pages-menu">
            <li class="pages-link-holder"><a href="pageOne.html" class="pages-link">Page 1</a></li>
            <li class="pages-link-holder"><a href="pageTwo.html" class="pages-link">Page 2</a></li>
            <li class="pages-link-holder"><a href="pageThree.html" class="pages-link">Page 3</a></li>
            <li class="pages-link-holder"><a href="pageFour.html" class="pages-link">Page 4</a></li>
            <li class="pages-link-holder"><a href="pageFive.html" class="pages-link">Page 5</a></li>
        </ul>
    </nav>

    <main class="pages-content-image">
        <div class="pages-content-message-wrapper">
            <h2 class="pages-content-title">This is the Reason for Living!</h2>
            <p class="pages-content-message">Don’t waste anymore of your time! God wants to make you His child. What you
                    need to do is, Pray to God, accept what Jesus did on the cross to pay for your sins
                    and turn from your sins (repent). When you do this, God forgives your sins, makes
                    you His child, reserves your place in heaven, and you will start enjoying His presence in your
                    life! It is the reason He created you, so you can become His child! Now that God saved you,
                    pray as often as you can. Read the Bible and find a good Bible teaching church to go to AND,
                    tell others so they can go to heaven too!!! John 10:28, “and I give eternal life to them, and they
                    will never perish;”</p>


            <a href="pageFour.html" class="change-page-button">Prev Page</a>
        </div>
    </main>

    <footer class="footer">
        <p class="footer-message">2023 Bible Tract</p>
    </footer>

    <script src="../scripts/navigation.js" async defer></script>
</body>

</html>
