<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/pages.css">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark pt-4">
        <div class="container">
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-center" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a href="../index.html" class="nav-link ">Home</a>
                </div>
                <div class="navbar-nav ms-auto">
                    <a class="nav-link" href="contact.html">Contact</a>
                </div>
                <div class="navbar-nav ms-5 me-4">
                    <div class="dropdown nav-text">
                        <a class="btn dropdown-toggle d-grid gap-2" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Questions
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="pageOne.html">What is the meaning of life?</a></li>
                            <li><a class="dropdown-item" href="pageTwo.html">What is the purpose in life?</a></li>
                            <li><a class="dropdown-item" href="pageThr.html">Is there life after life?</a></li>
                            <li><a class="dropdown-item" href="pageFou.html">What is going to happen after I die?</a>
                            </li>
                            <li><a class="dropdown-item" href="pageFiv.html">What is my reason for living?</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="container text-center text-white">
        <div class="row justify-content-center">
            <h1 class="page-title col-10">What’s My Purpose in Life?</h1>
        </div>
        <div class="row justify-content-center">
            <p class="page-text col-10">Your purpose in life and meaning in life are intertwined. You were created to be
                a
                child of God
                and have a relationship with Him. But, sin has destroyed that relationship so you can’t honor
                Him, therefore it leaves you feeling like life has no purpose. The good news is, God made a way
                to get rid of your sin and restore your relationship with Him! This is your purpose in life, to
                become God’s child and have a relationship with Him! You see, Jesus paid for your sin by dying
                on the cross. Ro. 5:8,”But God shows His love for us, in that while we were still sinners, Christ
                died for us.” God requires payment for your sin. Either you will pay for it in hell for eternity or
                you can accept Jesus’ payment on the cross. You accept it by putting your faith in His death on
                the cross for the payment for your sin. This is how God forgives you of your sin.
            </p>
        </div>
        <div class="row">
            <div class="page-btn">
                <a href="pageOne.html" class="btn mx-4">Back</a>
                <a href="pageThr.html" class="btn mx-4">Next</a>
            </div>
        </div>
    </div>


    <script src="" async defer></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
        crossorigin="anonymous"></script>
</body>

</html>