* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('https://images.unsplash.com/photo-1634031916992-c3dfc8d4756b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-title {
    margin-top: 100px;
    margin-bottom: 30px;
}

.main-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.main-btns {
    width: 18%;
    text-decoration: none;
    margin: 20px 0px 20px 0px;
    color: white;
    border-radius: 4px;
    padding: 10px 0px 10px 0px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    background-color: rgba(255, 255, 255, 0.02);
    transition: background-color 0.4s, color 0.4s;
}

.main-btns:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
}

.main-btns:active {
    box-shadow: inset 0px 0px 15px rgb(13, 13, 13);
}

.navbar {
    z-index: 500;
}


.footer {
    color: white;
}

.nav-link {
    color: rgba(255, 255, 255, 0.5);
    border-bottom: 0.25rem solid transparent;
    padding: 0.25rem 0;
    font-size: 1.3rem;
    font-weight: 500;
}

.nav-link:hover {
    color: rgba(255, 255, 255);
    border-bottom-color: rgba(255, 255, 255);
}

@media(max-width: 1520px) {
    .main-btns {
        width: 25%;
    }
}

@media(max-width: 1150px) {
    .main-btns {
        width: 30%;
    }
}

@media(max-width: 930px) {
    .main-btns {
        width: 35%;
    }
}

@media(max-width: 766px) {
    .nav-link {
        color: rgba(255, 255, 255, 0.869);
        padding-right: 25px;
        background-color: rgba(31, 31, 31, 0.95);
        margin-left: auto;
        text-align: end;
        width: 30%;
        z-index: 5;
    }

    .nav-link:hover {
        color: rgba(255, 255, 255);
        border-bottom-color: rgba(255, 255, 255);
        text-shadow: 0px 0px 5px #000;
    }

    .main-btns {
        width: 45%;
    }
}

@media(max-width: 610px) {
    .main-btns {
        width: 50%;
    }
}

@media(max-width: 550px) {
    .main-btns {
        width: 60%;
    }
}

@media(max-width: 440px) {
    .main-btns {
        width: 70%;
    }
}

@media(max-width: 400px) {
    .main-btns {
        width: 85%;
    }
}

@media(max-height: 800px) {
    .home-title {
        margin-top: 110px;
    }

}

@media(max-height: 730px) {
    .hero-image {
        height: 110%;
    }

    .home-title {
        margin-top: 160px;
    }

}

@media(max-height: 660px) {
    .hero-image {
        height: 120%;
    }

    .home-title {
        margin-top: 230px;
    }

}


@media(max-height: 560px) {
    .hero-image {
        height: 135%;
    }

    .home-title {
        margin-top: 280px;
    }

}

@media(max-height: 500px) {
    .hero-image {
        height: 155%;
    }

    .home-title {
        margin-top: 360px;
    }

}

@media(max-height: 460px) {
    .hero-image {
        height: 175%;
    }

    .home-title {
        margin-top: 430px;
    }

}

@media(max-height: 410px) {
    .hero-image {
        height: 200%;
    }
}

@media(max-height: 350px) {
    .hero-image {
        height: 230%;
    }
}