/* Large screen navigation ------------------------------------------------- */
.navigation-wrapper {
    z-index: 5;
    width: 100%;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(55, 55, 55);
    letter-spacing: 1.4px;
}

.navigation-icon {
    width: 23px;
    height: 30px;
}

.navigation-menu {
    display: flex;
    list-style-type: none;
}

.navigation-link-holder {
    margin-left: 50px;
}

.navigation-link-holder:nth-child(n+2) {
    border-left: 1px solid rgb(255, 255, 255);
    padding-left: 50px;
}

.navigation-link {
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: all .1s;
}

.navigation-link:hover {
    font-size: 16px;
}

.pages-menu-button {
    border: none;
    border-radius: none;
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    color: white;
    font-size: 14px;
    letter-spacing: 1.4px;
    border-left: 1px solid rgb(255, 255, 255);
    padding-left: 50px;
    margin-left: 50px;
    transition: all .1s;
}

.pages-menu-button:hover {
    font-size: 16px;
    cursor: pointer;
}

/* Small screen hamburger button ------------------------------------------------ */
.menu-collapser {
    color: white;
    width: 30px;
    height: 30px;
    flex-direction: column;
    align-items: center;
    background-color: rgb(55, 55, 55);
    border: 3px solid white;
    border-radius: 10%;
    display: none;
}

.menu-collapser:hover {
    color: rgb(55, 55, 55);
    background-color: white;
    border: 3px solid rgb(55, 55, 55);
}

.hamburger-patty {
    width: 60%;
    line-height: .3;
}


/* Small screen navigation -------------------------------------------------------- */
.navigation-menu-collapse {
    z-index: 2;
    font-size: 14px;
    letter-spacing: 1.5px;
    text-align: end;
    list-style-type: none;
    background-color: rgb(55, 55, 55);
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    transform: translateY(-100%);
    transition: margin-top .5s, transform .5s;
}

.navigation-link-holder-collapse {
    padding: 5px 10px 5px 0px;
}

.navigation-link-holder-collapse:hover {
    background-color: rgb(115, 115, 115);
}

.navigation-link-collapse {
    color: white;
    text-decoration: none;
}

.pages-menu-button-collapse {
    color: white;
    font-size: 14px;
    letter-spacing: 1.4px;
    background-color: rgb(55, 55, 55);
    border: none;
    text-align: end;
    transition: all .1s;
}

.pages-menu-button-collapse:hover {
    font-size: 16px;
}

/* Dropdown menu link Large screen ----------------------------------------------- */
.pages-menu {
    z-index: 2;
    font-size: 14px;
    letter-spacing: 1.5px;
    text-align: end;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 75%;
    position: absolute;
    transform: translateY(-100%);
    transition: margin-top .5s, transform .5s;
}

.pages-link-holder {
    width: 200px;
    background-color: rgb(55, 55, 55);
    padding: 10px 0px 10px 0px;
}

.pages-link-holder:hover {
    background-color: rgb(115, 115, 115);
}

.pages-link {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

@media (min-width: 1000px) {
    .navigation-menu-collapse {
        display: none;
    }
}

@media (max-width: 1000px) {
    .navigation-link-holder {
        display: none;
    }

    .pages-menu-button {
        display: none;
    }

    .menu-collapser {
        display: flex;
    }
}